monopoly/src/main/resources/monopoly.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Properties" type="PropertiesType" />
  <xsd:complexType name="PropertiesType">
    <xsd:sequence>
      <xsd:element maxOccurs="8" minOccurs="8" name="PropertySet" type="PropertySetType" />
      <xsd:element maxOccurs="4" minOccurs="4" name="Station" type="StationType" />
      <xsd:element maxOccurs="2" minOccurs="2" name="Utility" type="UtilityType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtilityType">
    <xsd:attribute name="Name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="StationType">
    <xsd:attribute name="Name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="PropertySetType">
    <xsd:sequence>
      <xsd:element maxOccurs="3" minOccurs="2" name="Street" type="StreetType" />
    </xsd:sequence>
    <xsd:attribute name="Colour" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:sequence>
      <xsd:element name="RentLevels" type="RentLevelsType" />
    </xsd:sequence>
    <xsd:attribute name="BoardIndex" type="xsd:int" />
    <xsd:attribute name="Name" type="xsd:string" />
    <xsd:attribute name="Value" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="RentLevelsType">
    <xsd:sequence>
      <xsd:element name="Base" type="xsd:int" />
      <xsd:element name="OneHouse" type="xsd:int" />
      <xsd:element name="TwoHouse" type="xsd:int" />
      <xsd:element name="ThreeHouse" type="xsd:int" />
      <xsd:element name="FourHouse" type="xsd:int" />
      <xsd:element name="Hotel" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>